<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Datacenter SysAdmin</h3>
                            <div class="time">2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Pishgaman Tose Ertebatat (FCP)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Working as SysAdmin and DevOps Engineer at Pishgaman Tose Ertebatat (PTE) Fixed Communication Provider (FCP) of Tehran. <br/>
We are working on interresting enterprise-level solutions such as: Recursive DNS (Dnsdist, Bind, PowerDNS), Authoritative DNS (PowerDNS, Microsoft DNS, Bind), Mail (iRedmail, Exchange, ...) , Monitoring (Zabbix, Solarwinds, ...), Firewalls (Iptables, Pf, Ufw, ...)</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">ITLPoll Developer</h3>
                            <div class="time">2006 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Trilex Network Inc</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Developer of ITLPoll online web polling system based on PHP and MySQL.
website: <a targer="_blank" href="https://sourceforge.net/projects/itlpoll/">https://sourceforge.net/projects/itlpoll/</a></p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Freelance Web-developer</h3>
                            <div class="time">2004 - 2006</div>
                        </div><!--//upper-row-->
                        <div class="company">Various Companies</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Designing and developing different local websites using HTML5, CSS3 at the front-end and PHP, MySQL, JSP at the backend.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
