<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>I've done a lot of projects including public and private ones. Here is some of them:</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://sourceforge.net/projects/itlpoll/">ITLPoll</a></span> - <span class="project-tagline">Online survey and polling system using PHP and MySQL. Create powerful web poll or surveys on your website easily, and share it’s results using 3D graphs like : 3D Pies and 3D Bars. Create multiple admins and set permissions to them. Voters manegement using their emails to create private surveys.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/bahrambeigy/Bloom-Bird" target="_blank">Bloom-Bird</a></span> - 
                    <span class="project-tagline">Bloom-Bird is a fork of standard BIRD software routing daemon. The Bird project aims to develop a fully functional dynamic IP routing daemon primarily targeted on (but not limited to) Linux, FreeBSD and other UNIX-like systems and distributed under the GNU General Public License.<br/>
The Bloom-Bird has an extra Bloom Filter feature which helps its Forwarding Information Base (FIB)s to search nodes faster when number of inserted IP prefixes into them becomes huge. Bloom Filter is a probabilistic data-structure which supports fast queries of inserted elements in a limited space. Key features of a Bloom filter
is Space and Time efficiency. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/bahrambeigy/pySPN" target="_blank">PySPN</a></span> - <span class="project-tagline">Simple SPN (Substitution Permutation Network) cryptographic algorithm implementation for educational purposes. This tool can be used for students who study cryptography. It is shows how one of the simplestic crptographic algorithm i.e., SPN works. In this project PyGTK is used for user GUI and the SPN representation is depicted using openGL (PyGLET module) of Python. For more information and complete persian manual, please refer to its repository page.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Django Gallery Application</a></span> - <span class="project-tagline">Using Django (Authentication, Storage, ModelForm), Postgres, Redis. This project
Application is a complete web-based gallery application written in django using different modules to store media files including Pictures, Audio, Video, etc. The Postgresql is used instead of sqlite because of higher performance under high traffic and transactions. Moreover, the Redis is used to cache the database queries under heavy load. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Django Monitoring</a></span> - <span class="project-tagline">Using Python3 (Multiprocessing), Django, Postgres, Redis, RabbitMQ, Celery. This
is a monitoring application built mainly using Django. Because of hundered of running poller processes, we needed to use multiprocessing modules of python to run them in parallel. The inter-process communication between these processes is handled by RabbitMQ. The regular check (cron-like) of the added nodes is handled by the Celery.</span>
                </div><!--//item-->
            </section><!--//section-->
